@font-face {
  font-family: "Archivo-Black";
  src:
    url(../FUENTES/fonts/fonts/ArchivoBlack-Regular.woff) format("woff"),
    url(../FUENTES/fonts/fonts/ArchivoBlack-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Open-Sans-regular";
  src:
    url(../FUENTES/fonts/fonts/OpenSans-Regular.woff) format("woff"),
    url(../FUENTES/fonts/fonts/OpenSans-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Open-Sans-bold";
  src:
    url(../FUENTES/fonts/fonts/OpenSans-Bold.woff) format("woff"),
    url(../FUENTES/fonts/fonts/OpenSans-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "Open-Sans-Semibold";
  src:
    url(../FUENTES/fonts/fonts/OpenSans-SemiBold.woff) format("woff"),
    url(../FUENTES/fonts/fonts/OpenSans-SemiBold.woff2) format("woff2");
}
body {
  width: 1440px;
  height: 1998px;
  margin: 0 auto;
  padding: 89px 120px 100px;
  color: #ffffff;
  background-color: #290e24ea;

  background:
    radial-gradient(
      circle at 20% 20%,
      rgba(96, 165, 250, 0.18) 0%,
      transparent 30%
    ),
    radial-gradient(
      circle at 80% 30%,
      rgba(168, 85, 247, 0.15) 0%,
      transparent 35%
    ),
    radial-gradient(
      circle at 50% 85%,
      rgba(255, 255, 255, 0.08) 0%,
      transparent 40%
    ),
    linear-gradient(180deg, #050816, #0d1124);

  background-repeat: no-repeat;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "nombre FOTO"
    "oficio FOTO"
    "INFO FOTO"
    "nav FOTO";
}
.FOTO {
  height: 500px;
  width: 387px;
  grid-area: FOTO;
  margin-top: 40px;
  margin-left: 20px;
}
.nombre {
  grid-area: nombre;
  font-size: 72px;
  font-family: "Archivo-Black";
  width: 793px;
  margin-bottom: 15px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#d9cee2, #695997, #cfc5d8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.oficio {
  grid-area: oficio;
  font-family: "Open-Sans-regular";
  line-height: 1.5;
  font-size: 18px;
  width: 790px;
  opacity: 0.5;
  margin-bottom: 30px;
}
.INFO {
  grid-area: INFO;
  font-size: 18px;
  font-family: "Open-Sans-regular";
  line-height: 1.5;
  width: 793px;
  display: flex;
  text-align: left;
  margin-bottom: 30px;
}
.nav {
  grid-area: nav;
  justify-self: start;
  font-family: "Open-Sans-Semibold";
  font-size: 18px;
  margin-bottom: 110px;
}
.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: flex-start;
  padding: 0;
}
.nav-links a {
  text-decoration: underline;
  color: #ffffff;
  text-decoration-color: rgb(155, 8, 155);
  text-decoration-thickness: 5px;
  text-underline-offset: 5px;
  text-shadow:
    0 0 8px rgba(0, 229, 255, 0.6),
    0 0 15px rgba(138, 43, 226, 0.5);
}
.nav-links a:hover {
  color: #d8673a; /*revisar cada uno al hcaer clic*/
}
h3,
h4 {
  font-family: "Archivo-Black";
  font-size: 40px;
}
.Tools {
  display: flex;
  gap: 180px;
  margin-top: 54px;
  margin-bottom: 103px;
}
.box-proyects {
  display: flex;
  gap: 20px;
  width: 590px;
  height: 680px;
}
.box_one,
.box_two {
  background-color: #1c1c1c;
}

.box__image-container {
  position: relative;
}
.card__image {
  aspect-ratio: 16 / 9;
}
.icon-mini {
  position: absolute;
  z-index: 1;
  left: 12px;
  bottom: 10px;
  display: flex;
  gap: 10px;
}
.card__content {
  display: flex;
  flex-direction: column;
  position: relative;
}
.img_link {
  position: absolute;
  margin-top: 288px;
  left: 30px;
  display: flex;
  gap: 20px;
}

.card__info {
  margin-left: 30px;
}

.card__title {
  color: #ffffff;
  font-family: "Open-Sans-bold";
  font-size: 24px;
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 20px;
}

.card__description {
  color: #ffffff;
  font-family: "Open-Sans-regular";
  font-size: 18px;
  font-weight: 400;
  margin-right: 30px;
  line-height: 1.5;
  margin-bottom: 0;
}
.card__description p + p {
  margin-top: -50px;
}
footer {
  color: #ffffff;
  text-align: center;
}
.contacto {
  font-family: "Archivo-Black";
  font-size: 40px;
  margin-bottom: 20px;
}
.correo {
  font-family: "Open-Sans-regular";
  font-size: 18px;
  color: #6d6dff;
  margin-bottom: 30px;
}
.correo:hover {
  color: #d8673a;
}
.social-media {
  gap: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.social-media__icon {
  width: 48px;
  border: 3px solid transparent;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.social-media__link {
  display: inline-flex;
  padding: 8px;
  border-radius: 14px;
  transition: background 0.3s ease;
}

.social-media__link:hover {
  background: rgba(199, 44, 199, 0.15);
}

.social-media__link:hover .social-media__icon {
  transform: translateY(-4px) scale(1.1);
  box-shadow: 0 0 18px rgba(170, 131, 233, 0.6);
}
